params {
    // Pipeline Parameters
    name = "scGPT_finetune_perturbation"

    // SLURM/Resource Parameters
    partition = "gpu"
    gpus = 1
    mem = "4GB"
    cpus = 1
    time = "72h" 

    // Path Parameters
    data_dir = "/nfs/scistore13/mondegrp/adepope/unp_sc_llm/scGPT/scGPT/data/adamson"
    model_dir = "/nfs/scistore13/mondegrp/adepope/unp_sc_llm/scGPT/models"
    output_dir = "/nfs/scistore13/mondegrp/adepope/unp_sc_llm/scGPT/results"
    script_path = "../src/finetune_perturbation_nextflow_core.py"
    sif_file = "/nfs/scistore13/mondegrp/adepope/unp_sc_llm/scGPT/apptainer/latest/images/scgpt_fixed.sif"

    dataset_name = "adamson"

    // Hyperparameters
    epochs = 1
    batch_size = 10
    fast_transformer = "True"
}

process {
    withName: scGPT_finetune_perturbation {
        time = params.time
        cpus = params.cpus
        memory = params.mem
        container = params.sif_file

        clusterOptions = "--partition=${params.partition} --gres=gpu:${params.gpus}"
        accelerator = 'gpu'
    }
}


profiles {
    // Default profile 
    standard { 
        process.executor = 'local'
    }
    
    // SLURM Profile
    slurm {
        process.executor = 'slurm' 
    }
}