# macOS
.DS_Store

# conda
.env
.venv
*.env

# nextflow
.work
.nextflow*
.cache/
reports/
results/

# python
__pycache__/
*.pyc

# docker artifacts
*.tar

# data and model
pipelines/data/
pipelines/model/

*Zone.Identifier
docker

